@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor01:#ff4757;
    --cor02:#111C26;

    --cor03:#5956A6;
    --cor04:#F2C8A2;
    
    --cor05:#7996F2;
    --cor06:#AFA9F5;
    --cor07:#79e2f2a9;

    --cor08:rgb(8, 207, 8);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor05);
}

header {
    background-image: linear-gradient(to bottom, var(--cor06)30%, var(--cor05));
    padding: 25px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

header p {
    text-align: center;
    font-weight: bold;
}

.links {
    background-color: var(--cor05);
    padding: 10px;
    padding-bottom: 20px;
}

.links a {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.valorant:hover {
    text-decoration: underline;
    background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    padding: 10px;
    border-radius: 7px;
    transition-duration: 0.3s;
}

.gta:hover {
    text-decoration: underline;
    background-image: linear-gradient(to top, var(--cor04), var(--cor03));
    padding: 10px;
    border-radius: 7px;
    transition-duration: 0.3s;
}

.warzone1:hover {
    text-decoration: underline;
    background-image: linear-gradient(to top, var(--cor08), black);
    padding: 10px;
    border-radius: 7px;
    transition-duration: 0.3s;
}


main {
    text-align: justify;
    background-color:rgb(247, 247, 247);
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
}

.vava {
    text-align: center;
    background-image: linear-gradient(to top, var(--cor01), var(--cor02));
    padding: 5px;
    padding-top: 30px;
    color: white;
    border-radius: 7px 7px 0px 0px;
}

.vava1 {
    line-height: 1.3em;
    color: white;
    text-indent: 10px;
    background-color: var(--cor01);
    padding: 20px;
    margin: 0px ;
}

div.video {
    background-color: var(--cor01);
    padding-bottom: 56.2%;
    border-radius: 0px 0px 7px 7px;

    position: relative;
}

div.video iframe {
    position: absolute;
    padding-bottom: 10px;
    top:6%;
    left:5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.623);
}

.gtaa {
    text-align: center;
    background-image: linear-gradient(to top, var(--cor04), var(--cor03));
    padding: 5px;
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 7px 7px 0px 0px;
}

.gtaa1 {
    line-height: 1.3em;
    text-indent: 10px;
    background-color: var(--cor04);
    padding: 20px;
}

.videogt {
    background-color: var(--cor04);
    padding-bottom: 56.2%;
    border-radius: 0px 0px 10px 10px;

    position: relative;
}

.videogt iframe {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.623);
}


.menu2 {
    font-weight: bold;
}

.pag2 {
    
}

.links2 {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.links2 a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.links2 a:hover {
    background-color: var(--cor06);   
    padding: 10px;  
    border-radius: 7px;
    text-decoration: underline;    
    transition-duration: 0.3s;
}

.pag2 h1 {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding-top: 30px;
    padding: 10px;
    color:white;
    background-image: linear-gradient(to top, var(--cor01), var(--cor02))
}

.pag2 p {
    background-color: var(--cor01);
    text-indent: 10px;
    padding: 20px;
    color: white;
}

.warzone {
    text-align: center;
    background-image: linear-gradient(to top, var(--cor08)40%, black);
    padding: 5px;
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 7px 7px 0px 0px;
}

.warzonee {
    text-align: justify;
    background-color: var(--cor08);
    padding: 20px;
    text-indent: 10px;
}

.video3 {
    border-radius: 0px 0px 7px 7px;
    background-color: var(--cor08);
    padding-bottom: 56.3%;

    position: relative;
}

.video3 iframe {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 90%;
    height: 90%;

    border-radius:7px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.623);
}